In [1]:
import pandas as pd

from collections import Counter

data = ('./Resources/cc_default.csv')
df = pd.read_csv(data)
df.head()

   ID  ln_balance_limit  sex  education  marriage  age  default_next_month
0   1          9.903488    1          2         0   24                   1
1   2         11.695247    1          2         1   26                   1
2   3         11.407565    1          2         1   34                   0
3   4         10.819778    1          2         0   37                   0
4   5         10.819778    0          2         0   57                   0

In [2]:
x_cols = [i for i in df.columns if i not in ('ID', 'default_next_month')]
X = df[x_cols]
y = df['default_next_month']

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [4]:
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)

In [5]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [6]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[4824, 1008],
       [1159,  509]], dtype=int64)

In [7]:
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.5661581845634603

In [8]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.81      0.83      0.31      0.82      0.50      0.27      5832
          1       0.34      0.31      0.83      0.32      0.50      0.24      1668

avg / total       0.70      0.71      0.42      0.71      0.50      0.26      7500